<!-- <h1>הוספת קטגוריות ללמד</h1>
<label>מצא לאיזה נושא המקצוע שלך שייך</label>
<button #btn type="button" pButton icon="pi pi-bars" label="בחר תחום" (click)="menu.toggle($event)"></button>
          <p-tieredMenu #menu [model]="items" [popup]="true"  aria-colspan="chooselimit(item.automationId)"></p-tieredMenu> 
          <br><br> 
          <label>כתוב קטגוריה מתאימה במקרה שאין קטגורית אב הכנס קטגורית אב</label><br><br>
          <button #btn type="button" pButton icon="pi pi-bars" label="הוסף " (click)="savelimit()"></button><br><br>
          <input type="text" id="father" pInputText placeholder="הכנס קטגוריה" [(ngModel)]="namelimit" (click)=father()>
            -->