<!-- הקומפוננטה הזו מציגה את כל השיעורים שהמשתמש למד- וזה נמצא בהסטוריית השיעורים של המשתמש -->
 

<h2>השיעורים שלימדתי</h2>
    <table>
        <tr>
          <th>שם השיעור הנלמד</th>
          <th>שם המורה המלמדת</th>
          <th>תאריך השיעור שהתבצע</th>
        </tr>
        <tr *ngFor='let item of listLessons'>
            <td>{{item.CodeLimit}}</td>
            <td>{{item.CodeTeacher}}</td>
            <td>ygf</td>        
        </tr>
    </table>

    <a>    {{numlessens}}  :סך השיעורים שלימדת עד כה</a><br>
    <a>  נותרו לך עוד- שיעורים ללמוד</a><br>
